@use 'src/assets/scss/_variables' as *;

.volver {
    &:hover {
        color: white;
    }

    /* when hovering the button, target the icon inside it */
    &:hover .icon-bdv-icon-back-m::before,
    &:focus .icon-bdv-icon-back-m::before {
        color: white;
    }
}
.icon-bdv-icon-back-m::before {
    color: $secondary;
}