<nav class="navbar">
  <app-local-loading [loading]="loading"></app-local-loading>
  <div class="navbar-content d-flex justify-content-between align-items-center">
    <div class="align-start">
      <span class="text-muted me-4">{{ambiente}}</span> {{fechaFormateada()}}
    </div>
    <ul class="navbar-nav">
      
    </ul>

    <i class="icon user-icon icon-bdv-icon-profile-l" title="User"></i>
    <div class="ms-2 me-4 user-info d-flex" *ngIf="usuarioActual">
      <div class="fw-bold">{{ usuarioActual }}</div>
      <div class="text-muted small roleName" *ngIf="usuarioRoleName">{{ usuarioRoleName }}</div>
    </div>
      <i class="icon logout-icon icon-bdv-icon-exit-l" (click)="onLogout($event)" title="Cerrar sesión"></i>
  </div>
</nav>