.roleName {
    font-size: 0.85em;
    margin-top: 3px;
    margin-left: 10px;
}
.user-icon:before {
    font-size: 25px;
}

.logout-icon {
    display: inline-block;
    transform: rotate(180deg);
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}

