<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Seguridad/Aplicaciones</h6>
        <div class="table-responsive">
          <table id="aplicacionesTable" class="table">
            <thead>
              <tr>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Nombre de Aplicación</th>
                <th>Siglas</th>
                <th>Comentarios</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of aplicaciones">
                <td>
                  <button class="btn btn-sm btn-primary" title="Editar">
                    <i class="mdi mdi-pencil"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-danger" title="Eliminar">
                    <i class="mdi mdi-delete"></i>
                  </button>
                </td>
                <td>{{ app.nombre }}</td>
                <td>{{ app.siglas }}</td>
                <td>{{ app.comentarios }}</td>
              </tr>
            </tbody>
          </table>
          <div class="actionButtons d-flex justify-content-start gap-3 mt-5">
            <button class="btn btn-success" (click)="openAddApplicationModal(addApplicationModal)">
              <i class="mdi mdi-plus"></i> Agregar Aplicación
            </button>
            <button class="btn btn-danger" (click)="exitMenu()">
              <i class="mdi mdi-arrow-left"></i>
              Salir 
            </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal para añadir aplicación -->
<ng-template #addApplicationModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Añadir Aplicación</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <form (ngSubmit)="addApplication(modal)">
    <div class="modal-body">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" name="nombre" class="form-control" [(ngModel)]="newApp.nombre" required>
      </div>
      <div class="mb-3">
        <label for="siglas" class="form-label">Siglas</label>
        <input id="siglas" name="siglas" class="form-control" [(ngModel)]="newApp.siglas" required>
      </div>
      <div class="mb-3">
        <label for="comentarios" class="form-label">Comentarios</label>
        <textarea id="comentarios" name="comentarios" class="form-control" [(ngModel)]="newApp.comentarios"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Añadir</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
  </form>
</ng-template>