.icon-bdv-icon-handmenu-m {
        margin-top: 15px;
    &:before {
        color: white;
        font-size: 48px;
    }
}

.icon-bdv-icon-profileround-l {
    &:before {
        font-size: 58px;
    }
}
