<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
  <p class="text-muted mb-1 mb-md-0">Copyright © {{ currentYear }} </p>
  <a href="https://gitlab.com/emac3/srd-front/" class="d-flex align-items-center gap-2" target="_blank" rel="noopener noreferrer">
    <p class="text-muted">EMAC Tech Solutions</p>
      <img src="assets/images/EMAC/LogoEMAC_5.png"  alt="Logo EMAC" class="mb-2" style="height: 32px; width: 46px; opacity: 0.5;">
    </a>
</footer>